body {
  font-family: "Rubik", sans-serif;
}

#menu-toggle:checked + #menu {    /* ver seudoclase :checked */
  display: block;
}

.dropdown:hover .dropdown-menu,   /* ver seudoclase :hover */
.dropdown:active .dropdown-menu { /* ver seudoclase :active */
  display: block;
}

#index-contenido{
  margin-bottom: 110px;
  overflow-x: hidden;
  
}

/* Inicio estilos slider */
#myslider{
  height: 250px;
}

/* Fin estilos sider */

#pagina-productos{
  width: 85vw;
}

#resumen-producto-tabla{
  max-height: 70px;
}



/* Inicio estilos scroll */
.myScroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.myScroll::-webkit-scrollbar:vertical {
  width:10px;
}

.myScroll::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.myScroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: #b4afaf;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.myScroll::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/* Final estilos scroll */




@media (max-width: 600px){
  #index-contenido{
    margin-bottom: 150px;
    
  }

}




